@model IEnumerable<ExpenseTrackerApp.Models.CategoryModel>

@{
    ViewData["Title"] = "ExpenseTrackerApp";
}


<body>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand">Category List</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Category/Create">Add New Category</a>
        </li></ul></div></div>
        </nav>
</body>

<div class="table-responsive-xl">
<table class="table table-light table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(category => category.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a type="button" class="btn btn-primary btn-sm" asp-action="Edit" asp-controller="Category" asp-route-id="@item.Cid">Edit</a>
                <a type="button" class="btn btn-secondary btn-sm" asp-action="Delete" asp-controller="Category" asp-route-id="@item.Cid" class="btn-danger" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>