@model ExpenseModel

<body>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand">Update Expense</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"></div></div>
        </nav>
        <br>
</body>
<div class="container">
    @if(ViewBag.IsSuccess==true)
    {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Congratulations!</strong> Expense Updated Successfully. <br/>
    Click <a asp-controller="Expense" asp-action="Index" asp-route-id="@ViewBag.Id">here</a> to view the details.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group" style="display:none">
            <label asp-for="Eid"></label>
            <input asp-for="Eid" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category">
                <option value="">Please Choose Category</option>
            </select>
        </div>
        <div class="form-group">
    <label asp-for="Date"></label>
    <input asp-for="Date" id="datepicker" type="text" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    @section Scripts
    {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    }
        <div class="form-group">
            <label asp-for="Amount"></label>
            <input asp-for="Amount" class="form-control"/>
            <span asp-validation-for="Amount" class="text-danger"></span>
            <br>
        </div>
        <div class="form-group">
            <input type="submit" value="Update Expense" class="btn btn-primary"/>
        </div>
    </form>
</div>